/*!
 * Responsive Bootstrap Toolkit - SASS & CSS 
 * 
 * Release notes:
 *
 * SASS/Compass will not group media queries, causing quite a lot
 * of repetition in the output CSS. GZIP however, will take care of
 * the repetition making it negligible. 
 *
 * Most CSS minifiers can group media query contents. See:
 * http://www.minifycss.com/css-compressor/ 
 *
 */
@media (max-width: 767px) {
  .breakpoint-alias:before {
    content: "XS";
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  .breakpoint-alias:before {
    content: "SM";
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  .breakpoint-alias:before {
    content: "MD";
  }
}
@media (min-width: 1200px) {
  .breakpoint-alias:before {
    content: "LG";
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 983px) {
  h1 {
    font-size: 24px;
  }
}
@media (min-width: 984px) and (max-width: 1199px) {
  h1 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 30px;
  }
}

.wrapper {
  background: #fff;
  color: #666;
}
.wrapper .site-topbar {
  background: #414141;
  color: #fff;
  height: 60px;
  line-height: 60px;
  position: relative;
  vertical-align: middle;
}
.wrapper .site-topbar h5 {
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  margin: 0 60px 0 15px;
  vertical-align: middle;
}
.wrapper .site-topbar .breakpoint-alias {
  background-color: #238cce;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  margin: auto;
}

.text-uppercase {
  text-transform: uppercase;
}
